<robot name="ur5e_scene" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find gazebo_env)/urdf/ur5_with_gripper.urdf.xacro" />
  <link name="world" />
  <xacro:ur5e_gripper parent="world">
      <origin xyz="0 0 10" rpy="0 0 0" />
  </xacro:ur5e_gripper>
  <xacro:include filename="$(find gazebo_env)/urdf/real_ur5_cam.urdf.xacro" />
  <xacro:sensor_d435_ur5 parent="world">
    <origin xyz="0.90641516 -0.08090482 10.6424972" rpy="0.0588804 0.6888795 3.1219407" />
  </xacro:sensor_d435_ur5>
</robot>