[submodule "robosuite"]
	path = robosuite
	url = git@github.com:KDharmarajanDev/robosuite.git
[submodule "robomimic"]
	path = robomimic
	url = git@github.com:KDharmarajanDev/robomimic.git
[submodule "Orbit"]
	path = Orbit
	url = git@github.com:KDharmarajanDev/Orbit.git
[submodule "ARM"]
	path = ARM
	url = git@github.com:KDharmarajanDev/ARM.git
