[submodule "robosuite"]
	path = robosuite
	url = git@github.com:BerkeleyAutomation/mirage-robosuite.git
[submodule "robomimic"]
	path = robomimic
	url = git@github.com:BerkeleyAutomation/mirage-robomimic.git
[submodule "mimicgen_environments"]
	path = mimicgen_environments
	url = git@github.com:BerkeleyAutomation/mirage_mimicgen_environments.git
