# Other unnecessary repos:
_isaac_sim
*.vscode
Coppelia*
isaac_gym
kinpy
meshcat-python
mujoco*
pytorch_kinematics
sim-web-visualizer
tracikpy
RLBench
issac_gym
PyRep
data/

# Other global ignores
__pycache__
.ipynb_checkpoints

# No videos
*.mp4
*.gif
*.avi
*.mov

# No data files or npy txt
*.pkl
*.npy
*.txt
*.log
*.jpg

# No wandb outputs or runs
**/wandb/
**/runs/
robomimic/datasets
robomimic/bc_trained_models
robomimic/pretrained_models
xembody/xembody/src/ros_ws/data
xembody/xembody_robosuite/image_inpainting/diffusion_model_data
ARM/logs
diffusers/outputs
diffusers/example_datasets
diffusers/examples
diffusion/checkpoint-2300
diffusion/checkpoint-3000
diffusion/checkpoint-2000
diffusion/Wed_Jan_24*
diffusion/trajectory*
logs/*
orca-r2d2_eval/orca-r2d2_eval/octo_env
orca-r2d2_eval/orca-r2d2_eval/outputs_fixed_1_base
orca-r2d2_eval/orca-r2d2_eval/outputs_fixed_1_small
ur5bc/models
ur5bc/rollout_data
ur5bc/example_data
ur5bc/zed_calibration_ur5
ur5bc/IQA
xembody/xembody/src/ros_ws/build
xembody/xembody/src/ros_ws/log
xembody/xembody/src/ros_ws/data
xembody/xembody/src/ros_ws/log
xembody/xembody/src/ros_ws/src/gazebo_env/trajectory_im256/trajectory_im256.h5
*.h5
