<robot name="ur5e_scene" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find gazebo_env)/urdf/ur5_with_gripper.urdf.xacro" />
  <xacro:include filename="$(find gazebo_env)/urdf/panda_arm.xacro"/>
  <xacro:include filename="$(find gazebo_env)/urdf/hand_robosuite.xacro"/>
  <link name="world" />
  <xacro:ur5e_gripper parent="world">
      <origin xyz="0 0 10" rpy="0 0 0" />
  </xacro:ur5e_gripper>
  <xacro:include filename="$(find gazebo_env)/urdf/real_ur5_cam.urdf.xacro" />
  <xacro:sensor_d435_ur5 parent="world">
    <origin xyz="0.90641516 -0.08090482 10.6424972" rpy="0.0588804 0.6888795 3.1219407" />
  </xacro:sensor_d435_ur5>

  <!-- Lift task-->
  <xacro:panda_arm connected_to="world" xyz="10 0 10"/> 

  <!-- Can task-->
  <!-- <xacro:panda_arm connected_to="world" xyz="-0.56 -0.1 10.912"/>  -->
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/>
  <xacro:include filename="$(find gazebo_env)/urdf/real_panda_cam.urdf.xacro" />
  <xacro:sensor_d435_panda parent="world">
    <!-- for some reason we have to modify the xyz because it is a little shifted-->

    <!-- Lift task-->
    <origin xyz="10.84531124 0.0494013 10.61637858" rpy="0.0381616 0.6288943 -3.0232923" /> 
    <!-- Can task-->
    <!-- <origin xyz="1.016 0.018 11.749" rpy="0 0.7840421 3.1415927" />  -->
  </xacro:sensor_d435_panda>
  <gazebo>
    <plugin name="panda_control" filename="libpanda_control_plugin.so" />
  </gazebo>
</robot>