xembody.egg-info
meshes
obj_meshes

# imgs and point clouds
*.jpg
*.pcd
*.png

# no datasets
*.hdf5

# no ROS Workspace build / install /log
xembody/src/ros_ws/build
xembody/src/ros_ws/install
xembody/src/ros_ws/log

# no models
*.pt
*.pth