.vscode
gazebo_env/robosuite_outputs/Panda_output*
gazebo_env/robosuite_outputs/UR5e_output*
gazebo_env/robotsuite_outputs/Panda_output*
gazebo_env/robotsuite_outputs/UR5e_output*
gazebo_env/robosuite_offline_2/*
gazebo_env/franka_to_franka/*
gazebo_env/robosuite_offline_3/*
gazebo_env/robosuite_offline_4/*
gazebo_env/diffusion_data/*
gazebo_env/real_check/check_panda.npy
gazebo_env/real_check/check_ur5.npy
gazebo_env/franka_check_2/*
gazebo_env/ur5_check/*
