<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find gazebo_env)/urdf/panda_arm_ur5e_gripper.xacro"/>
  <xacro:include filename="$(find gazebo_env)/urdf/ur5_with_gripper.urdf.xacro" />
  <link name="world" />
  <!-- Lift task-->
  <!-- <xacro:panda_arm connected_to="world" xyz="0 0 10"/>  -->

  <!-- Can task-->
  <!-- <xacro:panda_arm connected_to="world" xyz="-0.56 -0.1 10.912"/>  -->
  <!-- <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/> -->
  <!-- <xacro:include filename="$(find gazebo_env)/urdf/real_panda_cam.urdf.xacro" /> -->
  <!-- <xacro:sensor_d435_panda parent="world">
    <origin xyz="0.84531124 0.0494013 10.61637858" rpy="0.0381616 0.6288943 -3.0232923" /> 
  </xacro:sensor_d435_panda> -->
  <!-- <xacro:sensor_d435_panda parent="world"> -->
    <!-- <origin xyz="0.90641516 -0.08090482 10.6424972" rpy="0.0588804 0.6888795 3.1219407" /> -->
  <!-- </xacro:sensor_d435_panda> -->

  <xacro:ur5e_gripper parent="world">
      <origin xyz="10 0 10" rpy="0 0 0" />
  </xacro:ur5e_gripper>
  <xacro:include filename="$(find gazebo_env)/urdf/real_ur5_cam.urdf.xacro" />
  <xacro:sensor_d435_ur5 parent="world">
    <origin xyz="10.90641516 -0.08090482 10.6424972" rpy="0.0588804 0.6888795 3.1219407" />
  </xacro:sensor_d435_ur5>
  <!-- <gazebo>
    <plugin name="no_physics" filename="libno_physics_plugin.so" />
  </gazebo> -->
  <gazebo>
    <plugin name="panda_control_real" filename="libpanda_control_ur5e_gripper_real_plugin.so" />
  </gazebo>
</robot>
