<robot name="ur5e_scene" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find gazebo_env)/urdf/panda_arm_ur5e_gripper.xacro"/>
  <xacro:include filename="$(find gazebo_env)/urdf/panda_arm.xacro"/>
  <xacro:include filename="$(find gazebo_env)/urdf/hand.xacro"/>
  <link name="world" />
  <xacro:panda_with_ur5e_gripper connected_to="world" xyz="0 0 10"/> 

  <!-- We are calling this UR5 camera so we don't have to deal with stupid naming issues-->
  <xacro:include filename="$(find gazebo_env)/urdf/real_ur5_cam.urdf.xacro" />
  <xacro:include filename="$(find gazebo_env)/urdf/real_ur5_cam_left.urdf.xacro" />
  <xacro:include filename="$(find gazebo_env)/urdf/real_ur5_cam_right.urdf.xacro" />
  <xacro:sensor_d435_ur5_left parent="world">
    <origin xyz="0.65147084 0.41435814 10.51452678" rpy="0.11023138  0.57410099 -1.9646524" />
  </xacro:sensor_d435_ur5_left>
  <xacro:sensor_d435_ur5_right parent="world">
    <origin xyz="0.5538436 0.47336682 10.50176154" rpy="0.05888073  0.52934421 -1.97405572" />
  </xacro:sensor_d435_ur5_right>

  <xacro:panda_arm connected_to="world" xyz="10 0 10"/> 
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/>

  <xacro:include filename="$(find gazebo_env)/urdf/real_panda_cam.urdf.xacro" />
  <xacro:include filename="$(find gazebo_env)/urdf/real_panda_cam_left.urdf.xacro" />
  <xacro:include filename="$(find gazebo_env)/urdf/real_panda_cam_right.urdf.xacro" />
  <xacro:sensor_d435_panda_left parent="world">
    <origin xyz="10.65147084 0.41435814 10.51452678" rpy="0.11023138  0.57410099 -1.9646524" />
  </xacro:sensor_d435_panda_left>
  <xacro:sensor_d435_panda_right parent="world">
    <origin xyz="10.5538436 0.47336682 10.50176154" rpy="0.05888073  0.52934421 -1.97405572" />
  </xacro:sensor_d435_panda_right>

  <gazebo>
    <plugin name="no_physics" filename="libno_physics_plugin.so" />
  </gazebo>
  <gazebo>
    <plugin name="panda_and_panda_grippers_control" filename="libpanda_and_panda_grippers_control_plugin.so" />
  </gazebo>
</robot>