<robot name="ur5e_scene" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find gazebo_env)/urdf/panda_arm_ur5e_gripper.xacro"/>
  <xacro:include filename="$(find gazebo_env)/urdf/panda_arm.xacro"/>
  <xacro:include filename="$(find gazebo_env)/urdf/hand.xacro"/>
  <link name="world" />
  <xacro:panda_with_ur5e_gripper connected_to="world" xyz="0 0 10"/> 

  <!-- We are calling this UR5 camera so we don't have to deal with stupid naming issues-->
  <xacro:include filename="$(find gazebo_env)/urdf/real_ur5_cam.urdf.xacro" />
  <xacro:sensor_d435_ur5 parent="world">
    <origin xyz="0.68760298 0.39006238 10.46098218" rpy="0.06390863  0.58797942 -2.01314893" />
  </xacro:sensor_d435_ur5>

  <xacro:panda_arm connected_to="world" xyz="10 0 10"/> 
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/>

  <xacro:include filename="$(find gazebo_env)/urdf/real_panda_cam.urdf.xacro" />
  <xacro:sensor_d435_panda parent="world">
    <!-- for some reason we have to modify the xyz because it is a little shifted-->

    <!-- Lift task-->
    <origin xyz="10.68760298 0.39006238 10.46098218" rpy="0.06390863  0.58797942 -2.01314893" />
    <!-- Can task-->
    <!-- <origin xyz="1.016 0.018 11.749" rpy="0 0.7840421 3.1415927" />  -->
  </xacro:sensor_d435_panda>

  <gazebo>
    <plugin name="no_physics" filename="libno_physics_plugin.so" />
  </gazebo>
  <gazebo>
    <plugin name="panda_and_panda_grippers_control" filename="libpanda_and_panda_grippers_control_plugin.so" />
  </gazebo>
</robot>