<robot name="ur5e_scene" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find gazebo_env)/urdf/ur5e_nvidia_with_gripper.urdf.xacro" />
  <link name="world" />
  <xacro:ur5e_gripper parent="world">
      <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ur5e_gripper>
  <xacro:include filename="$(find gazebo_env)/urdf/d435.urdf.xacro" />
  <xacro:sensor_d435 parent="world">
    <origin xyz="1.488 1.534 1.496" rpy="0 0.6154831 -2.3561872" />
        <!-- <origin xyz="-1 0 0" rpy="0 3.1415927 1.5707963" /> -->
  </xacro:sensor_d435>
</robot>